h1{
    background-color
    color:#ff2323;
    font-family: ;
    background: black;
    }
    p {
        color: blanchedalmond;
        text-align: center;
        }
        #anjo {
            width: 100%;
        }
        <ul>
    <li>Um salão de espera com sinuca, fliperamas, futebol de mesa e uma mesa de pingpong pra voçe se distrair enquanto espera.</li>
    <li>temos também um banheiro que está sempre limpo e cheiroso.</li>
    <li>e aquele WI-FI gratuito, já para tirar aquela fotinha e colocar no instagram. </li>
    <li>então e pode vir antes do horario marcado que o tedio não vai te consumir.</li>
  </ul>